.p-footer{
  width:100%;
  height:60px;
  padding-top: 2.5%;
  background-color: rgb(255, 201, 210);
}


.p-footer__menu{
  text-align: center;
}

.p-footer__menu__copy{
  font-family: 'Architects Daughter', cursive;
  color:  rgb(128, 128, 128);
  font-weight: bold;
}
